* {
    font-family: FontAwesome, JetBrainsMono;
    font-weight: bold;
    font-size: 12.5px;
}

window#waybar {
    background: rgba(00,00,00,00);
    color: @text;
}

#workspaces button label {
    font-size: 12.5px;
    padding-left: 1px;
}

#workspaces button {
    padding: 0 6px;
    color: @text;
    margin-left: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 8px;
    transition: background 0.2s ease;
}

#workspaces button.visible {
    color: @yellow;
    background: @surface0;
}

#workspaces button.active {
    color: @base;
    background: @yellow;
}

#workspaces button:hover {
    background: @yellow;
    color: @base;
}

#mode {
    background-color: @yellow;
    color: @base;
    border-bottom: 3px solid @mauve;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* Remove left margin if workspaces is leftmost */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* Remove right margin if workspaces is rightmost */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: @yellow;
    color: @base;
}

#workspaces,
#window,
#temperature,
#cpu,
#memory,
#wireplumber,
#pulseaudio,
#tray,
#tray menu,
#language,
#clock,
#custom-gpu-usage,
#custom-change-output,
#custom-weather {
    padding: 0 6px;
    background-color: @mantle;
    margin-left: 3px;
    margin-right: 3px;
    border: 2px solid @yellow;
    border-radius: 10px;
    color: @text;
}

#tray {
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
    color: @base;
}

#tray menu {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#custom-gpu-usage {
    padding-right: 7px;
}

#custom-change-output {
    padding-left: 10px;
    padding-right: 11px;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
    border-radius: 0;
}
